server:
  port: 8081 # Or any other unique port for this service, e.g., 8082 for user-service, 8083 for event-service

spring:
  application:
    name: auth-service # This name will be used in Eureka registry and for Feign clients
  profiles:
    active: dev
  main:
    allow-bean-definition-overriding: true
    debug: true
  data:
    redis:
      host: 127.0.0.1
      port: 6379

user-service:
  url: http://127.0.0.1:8082

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true # Register with IP address instead of hostname (often better for Docker)
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Point to your Eureka server
    fetch-registry: true
    register-with-eureka: true

application:
  security:
    jwt:
      secret-key: 2cc32af46eabfdcfe80781997abfbf407a42a07b470e429cb7c243f45a78f980
      expiration: 3600000
      refresh-token:
        expiration: 604800000

# Add this at the end of your auth-service's application.yml
logging:
  level:
    root: INFO # Keep root INFO
    com.ashish.clubs.authservice: DEBUG # <-- Your custom package
    com.ashish.clubs.common: DEBUG # <-- Your common models/security package
    org.springframework.web.reactive.function.client: DEBUG # For WebClient calls
    org.springframework.security: DEBUG # For Spring Security
    reactor.netty: DEBUG # For reactive stack network operations
    org.springframework.web.server: DEBUG # For web server interaction
    org.springframework.http.server.reactive: DEBUG # For HTTP reactive server