# k8s/services/auth-service.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: tclubs/auth-service:latest
          env:
            - name: USER_SERVICE_URL
              value: "http://user-service:8080" # Explicitly use the stable K8s service name
            - name: REDIS_HOST
              value: redis-service
            - name: EUREKA_SERVER_URL
              value: http://eureka-server:8761/eureka/
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
          envFrom:
            - secretRef:
                name: tclubs-secrets
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: auth-service
  type: ClusterIP