---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: media-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: media-service
  template:
    metadata:
      labels:
        app: media-service
    spec:
      containers:
        - name: media-service
          image: tclubs/media-service:latest
          env:
            - name: DB_HOST
              value: postgres-service
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: MINIO_URL
              valueFrom:
                secretKeyRef:
                  name: tclubs-secrets
                  key: MINIO_URL
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: tclubs-secrets
                  key: MINIO_ACCESS_KEY
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: tclubs-secrets
                  key: MINIO_SECRET_KEY
            - name: MINIO_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: tclubs-secrets
                  key: MINIO_BUCKET_NAME
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:29092
            - name: EUREKA_SERVER_URL
              value: http://eureka-server:8761/eureka/
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
          envFrom:
            - secretRef:
                name: tclubs-secrets
          ports:
            - containerPort: 8085
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8085
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: media-service
spec:
  ports:
    - port: 8085
      targetPort: 8085
  selector:
    app: media-service
  type: ClusterIP

